Repository psss/did, pull requests merged in 2019-09, with the labels that each got.

#194 gerrit: add a new configuration key to disable wip queries
  did/plugins/gerrit.py
  tests/plugins/test_gerrit.py
Labels: plugins

#203 Update github.py
  did/plugins/github.py
Labels: docs

#199 Add basic Confluence support
  did/plugins/confluence.py
  docs/plugins.rst
Labels: enhancement, plugins
