Repository psss/did, pull requests merged in 2021-04, with the labels that each got.

#243 Enable copr builds from master, simplify tests
  .packit.yaml
  plans/smoke.fmf
  tests/docs/main.fmf
  tests/docs/test.sh
  tests/main.fmf
  tests/smoke/main.fmf
Labels: packaging, tests

#241 Add search for approved merge requests in gitlab module
  did/plugins/gitlab.py
  tests/plugins/test_gitlab.py
Labels: gitlab, plugins

#242 Support custom xmlrpc endpoint for MoinMoin wiki
  did/plugins/wiki.py
Labels: plugins, wiki

#244 Release did-0.18
  did.spec
Labels: packaging
