Repository psss/did, pull requests merged in 2021-12, with the labels that each got.

#259 Support Personal Access Token in the Jira plugin
  did/plugins/jira.py
Labels: plugins, jira

#260 Add minor clarification note about token name
  did/plugins/jira.py
Labels: docs, jira

#261 Fix jira issues search when user `login` provided
  did/plugins/jira.py
Labels: plugins, jira

#262 Check if the GitHub credential token is valid
  did/plugins/github.py
Labels: plugins, github

#251 Add basic support for Zammad
  did/plugins/__init__.py
  did/plugins/zammad.py
  docs/plugins.rst
Labels: plugins

#264 Install all required packages during docs building
  .readthedocs.yaml
  docs/conf.py
Labels: docs
