Repository psss/did, pull requests merged in 2022-10, with the labels that each got.

#272 Koji plugin
  did/plugins/__init__.py
  did/plugins/koji.py
  docs/plugins.rst
  setup.py
Labels: plugins

#270 Update google plugin installation instructions
  did/plugins/google.py
Labels: plugins, docs

#275 Speed up local testing, add missing require
  plans/smoke.fmf
  tests/main.fmf
Labels: tests
