Repository psss/did, pull requests merged in 2023-11, with the labels that each got.

#324 Handle connection error fetching gitlab user
  did/plugins/gitlab.py
Labels: gitlab

#333 Add `markdown` format output to `bodhi` plugin
  did/plugins/bodhi.py
Labels: plugins, bodhi

#331 Pass plugin configuration to koji `ClientSession`
  did/plugins/koji.py
Labels: plugins, koji

#336 Release did-0.21
  did.spec
Labels: packaging

#339 Migrate to the `SPDX` identifier
  did.spec
  setup.py
Labels: packaging

#344 Add a team report example using login aliases
  docs/config.rst
Labels: docs
