Repository psss/did, pull requests merged in 2023-09, with the labels that each got.

#319 Update pre-commit GitHub action with the latest version
  .github/workflows/pre-commit.yml
Labels: code style

#320 Move line length recommendation to proper section
  docs/contribute.rst
Labels: docs

#315 Add support for `markdown` format output
  README.rst
  did/cli.py
  did/plugins/bugzilla.py
  did/plugins/github.py
  did/plugins/gitlab.py
  did/plugins/jira.py
  did/utils.py
  docs/conf.py
  docs/examples.rst
Labels: enhancement, plugins, base

#321 Fix docs building warnings, pin sphinx version
  .readthedocs.yaml
  did/base.py
  docs/conf.py
  docs/requirements.txt
  setup.py
Labels: docs

#322 Replace deprecated calls to `warn`
  did/plugins/git.py
  did/plugins/jira.py
  did/stats.py
Labels: code style

#323 Add `sphinx_rtd_theme` to the list of extensions
  docs/conf.py
Labels: docs
