Repository psss/did, pull requests merged in 2023-01, with the labels that each got.

#284 Update packit config to address recent changes
  .packit.yaml
Labels: packaging

#278 Allow all plugins to fetch secrets from files
  did/base.py
  did/plugins/github.py
  did/plugins/gitlab.py
  did/plugins/google.py
  did/plugins/jira.py
  did/plugins/pagure.py
  did/plugins/sentry.py
  did/plugins/trello.py
  did/plugins/zammad.py
  tests/plugins/test_github.py
  tests/test_base.py
Labels: plugins

#279 Add the new `phabricator` plugin
  README.rst
  did/plugins/__init__.py
  did/plugins/phabricator.py
  docs/plugins.rst
  examples/config
  tests/plugins/test_phabricator.py
Labels: plugins

#287 Add "name-tests-test" pre-commit hook
  .pre-commit-config.yaml
Labels: tests

#283 Add comment stats on GitHub issues & pull requests
  did/plugins/github.py
  tests/plugins/test_github.py
Labels: plugins

#289 Fix broken phabricator tests
  tests/plugins/test_phabricator.py
Labels: tests, phabricator
