Repository psss/did, pull requests merged in 2024-01, with the labels that each got.

#337 Retry connecting to GitLab API on error
  did/plugins/gitlab.py
Labels: gitlab

#349 Update all linters to the latest versions
  .pre-commit-config.yaml
Labels: code style

#347 Prevent duplicates in github issue stats
  did/plugins/github.py
Labels: github

#351 Remove confusing mention from the `google` plugin
  did/plugins/google.py
Labels: docs, google
