Repository psss/did, pull requests merged in 2024-10, with the labels that each got.

#374 Handle the GitHub rate limit in a better way
  did/plugins/github.py
Labels: plugin | github

#375 Drop support for `epel-8` and `python-3.8`
  .packit.yaml
  README.rst
  did/base.py
  did/cli.py
  did/plugins/bodhi.py
  did/plugins/bugzilla.py
  did/plugins/confluence.py
  did/plugins/footer.py
  did/plugins/gerrit.py
  did/plugins/git.py
  did/plugins/github.py
  did/plugins/gitlab.py
  did/plugins/google.py
  did/plugins/header.py
  did/plugins/items.py
  did/plugins/jira.py
  did/plugins/koji.py
  did/plugins/nitrate.py
  did/plugins/pagure.py
  did/plugins/phabricator.py
  did/plugins/public_inbox.py
  did/plugins/redmine.py
  did/plugins/rt.py
  did/plugins/sentry.py
  did/plugins/trac.py
  did/plugins/trello.py
  did/plugins/wiki.py
  did/plugins/zammad.py
  did/stats.py
  did/utils.py
  docs/install.rst
  setup.py
Labels: packaging

#373 Support `user`, `org`, `repo` in the `github` plugin
  did/plugins/github.py
  plans/main.fmf
  plans/smoke.fmf
  tests/basic/docs/main.fmf
  tests/basic/docs/test.sh
  tests/basic/main.fmf
  tests/basic/smoke/main.fmf
  tests/basic/smoke/test.sh
  tests/github/config-default.ini
  tests/github/config-more.ini
  tests/github/config-org.ini
  tests/github/config-repo.ini
  tests/github/config-user.ini
  tests/github/help.sh
  tests/github/issues.sh
  tests/github/main.fmf
  tests/github/pulls.sh
  tests/main.fmf
Labels: plugin | github

#366 Update the github workflows configuration
  .github/workflows/codeql.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
Labels: workflows
