Repository psss/did, pull requests merged in 2025-05, with the labels that each got.

#381 Add an explicit sphinx configuration for docs
  .readthedocs.yaml
Labels: docs

#392 Use custom `user-agent` in the `public_inbox` plugin
  did/plugins/public_inbox.py
Labels: plugin | public-inbox

#379 Fetch all created issues correctly in `pagure`
  did/plugins/pagure.py
Labels: plugin | pagure

#394 Drop `distutils`, implement custom `strtobool`
  did/plugins/confluence.py
  did/plugins/gitlab.py
  did/plugins/jira.py
  did/utils.py
  tests/test_utils.py
Labels: utils
