Repository psss/did, pull requests merged in 2025-06, with the labels that each got.

#398 Update spec to 2021+ guidelines
  did.spec
Labels: packaging

#376 Fix issue with wrong `until` in GitHub search
  did/plugins/github.py
  tests/github/issues.sh
  tests/github/pulls.sh
Labels: plugin | github

#405 Use the correct class for `until` in the `github` plugin
  did/plugins/github.py
  tests/github/main.fmf
Labels: plugin | github

#352 Implement `transition` stats for the `jira` plugin
  did/plugins/jira.py
Labels: plugin | jira

#406 Release did-0.22
  README.rst
  did.spec
Labels: packaging

#407 Fix Jira transition to state with multiple projects
  did/plugins/jira.py
Labels: bug, plugin | jira

#400 Fix PageModified stat in Confluence plugin
  did/plugins/confluence.py
Labels: plugin | confluence

#401 Deal with conflicting period options
  did/cli.py
  tests/test_cli.py
Labels: bug, base

#402 Retry bugzilla search query on connection errors
  did/plugins/bugzilla.py
Labels: plugin | bugzilla

#410 Support retry while fetching `public-inbox` stats
  did/plugins/public_inbox.py
Labels: plugin | public-inbox

#409 Add `pyproject.toml`
  pyproject.toml
Labels: packaging

#408 Handle error responses querying GitHub
  did/plugins/github.py
  tests/plugins/test_github.py
Labels: bug, plugin | github

#411 Fix missing Optional typing
  did/plugins/items.py
  did/plugins/phabricator.py
Labels: code style
